<div #section class="section-1">
  <div class="toolbar">
    <nav>     
      <span class="heading">{{title}}</span>
     <button (click)="submit()"> test</button>
     <button (click)="submit()"> test1</button>
     <h1 class="title"> {{title_1}}</h1>3       
    </nav>
    <button class="appointment"  (click)="submit()"> {{book_your_slot}}</button>
    <p class="paragraph"> {{pargrah}}</p>
  </div>
  <div class="center-heading">
  <span>Tanuku</span>  
  <span>WestGodavari</span> 
  <span>India</span>
</div>
<div class="section-2"></div>
</div>
<div>
  <section #booking>
    <div class="hero-text">
      <h1 class="lawyer-name">
        {{lawyer_name}}
      </h1>
    </div>
    <div class="booking-card">
      <h2>{{Book_a_Consultation}}</h2>
      <input type="name" placeholder="Please enter your name" required [(ngModel)]="client_name"/>
      <input type="tel" placeholder="Phone Number" [(ngModel)]="client_num" required/>
      <select required  [(ngModel)]="client_casetype">
        <option *ngFor="let caseType of case_types" [value]="caseType"  >{{caseType}}</option>
      </select>
      <button type="submit" (click)="client_Details()">{{book_your_slot}}</button>
      <small>No payment required. Confirmation via call.</small>
    </div>
  </section>
</div>
<!-- <section #booking  class="hero">
  <div class="hero-text">
    <h1>Adv. Rahul Sharma</h1>
    <p>Criminal & Civil Law Specialist</p>
    <p>15+ years of legal experience</p>
  </div>

  <div class="booking-card">
    <h3>Book a Consultation</h3>

    <select>
      <option value="">Select Case Type</option>
      <option>Criminal</option>
      <option>Civil</option>
      <option>Family</option>
      <option>Property</option>
    </select>

    <select>
      <option value="">Select Time Slot</option>
      <option>Today 4–5 PM</option>
      <option>Tomorrow 10–11 AM</option>
      <option>Tomorrow 3–4 PM</option>
    </select>

    <input type="tel" placeholder="Phone Number">

    <button>Claim Your Slot</button>

    <small>No payment required. Confirmation via call.</small>
  </div>
</section> -->

